/*
  The grid itself needs only 4 CSS declarations:
*/

.myGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.myGallery img {
    width: 18%;
}

/*TODO: REMOVE THE REST OF THIS*/

/*
  And here are some declarations for the image caption.
  Just hover over one of the last 5 images to see it.
*/

.myGallery .item {
    position: relative;
    overflow: hidden;
}

.myGallery .item img {
    vertical-align: middle;
}

.myGallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
}

.myGallery .item:hover .caption {
    transform: translateY(0%);
}
